.mau {
    font-size: 300%;
    color: rgb(255, 182, 182); /* Đặt màu chữ thành hồng nhạt */
    line-height: 0; /* Giảm khoảng cách giữa các dòng xuống () */
    margin: 40px; /* Đặt khoảng cách ngoài cho phần tử */
    top: 0;
    padding: 0;
    transform: translate(0,40px);
   
}
@media (max-width: 600px) { 
    header, footer {  
        font-size: 1.2rem; /* Chỉnh sửa kích thước font cho nhỏ hơn */  
    }  
}
.header-top{
  
   
    background-color: rgb(61, 56, 56); /* Đặt màu nền cho danh sách thành xám tối */
    position: relative;
    display: block;
    z-index: 4;
    margin:0 ;
    padding-bottom: 0;
    flex-wrap: wrap;
    height: 258.1px;
    outline: auto;

}
/*********************************************************************************************/
/** điều chỉnh danh sách */
.menu {
    list-style: none; /* Xóa dấu đầu dòng cho danh sách */
    padding-bottom: 0; /* Thêm khoảng cách bên trong cho danh sách */
    margin: -20px; /* Đặt khoảng cách ngoài bằng 0 */
    background-color: rgb(61, 56, 56); /* Đặt màu nền cho danh sách thành xám tối */
    position: fixed; /* Định vị phần tử */
    z-index: 1; /* Thêm z-index để đảm bảo thứ tự hiển thị */
    font-size: 100%;
    align-items: center;
    justify-content: center;
    display: block;
    top: 0;
    text-align: center;
    flex-wrap: wrap ;
}

.img-content {
    position: fixed; /* Định vị phần tử */
    z-index: 0; /* Đảm bảo z-index nhỏ hơn so với menu */
}

/* Định nghĩa các phần tử danh sách */
.menu li {
    position: relative; /* Đặt bối cảnh định vị cho phần tử con */
    display: inline-block; /* Hiển thị các phần tử danh sách theo hàng ngang */
    background-color: rgb(59, 57, 57); /* Đặt màu nền cho từng phần tử danh sách */
    width: 265px; /* Đặt chiều rộng cố định cho các phần tử danh sách */
    height: auto; /* Chiều cao tự động */
    
}

.menu {
    position: fixed; /* Định vị phần tử menu */
    display: inline-block; /* Hiển thị menu theo kiểu inline-block */

}

.menu li a {
    display: block; /* Làm cho liên kết chiếm toàn bộ không gian của phần tử cha */
    padding: 1px; /* Thêm khoảng cách bên trong cho liên kết */
    text-decoration: none; /* Xóa gạch chân khỏi liên kết */
}

/* Định nghĩa submenu */
.sumbmenu {
    display: none; /* Ban đầu ẩn submenu */
    position: absolute; /* Định vị submenu tuyệt đối */
    top: 100%; /* Đưa submenu xuống ngay bên dưới phần tử cha */
    left: 0; /* Căn lề bên trái với phần tử cha */
    background-color: #555252; /* Đặt màu nền cho submenu thành xám tối */
    list-style: none; /* Xóa dấu đầu dòng cho submenu */
    padding: 1px; /* Đặt khoảng cách bên trong bằng 0 */
    margin-top: 0; /* Đặt khoảng cách ngoài bằng 0 */
    z-index: 9; /* Đặt z-index cao hơn để hiển thị trên các phần tử khác */

}

.sumbmenu li a {
    padding: 10px; /* Thêm khoảng cách bên trong cho các liên kết trong submenu */
    color: white; /* Đặt màu chữ thành trắng */
}
    

/* Hiện submenu khi di chuột qua phần tử danh sách */
.menu li:hover .sumbmenu {
    display: block; /* Hiện submenu khi di chuột qua phần tử danh sách */
}

/* Đổi màu nền khi di chuột qua liên kết */
.menu li a:hover, .sumbmenu li a:hover {
    background-color: gray; /* Đổi màu nền khi di chuột qua liên kết trong menu hoặc submenu */
}

/***88888888888888888888888888888888888888888888888888888*88888888888888**8888888888888888888888888888888888888888*/
/* Đặt màu nền cho div  (nút đăng kí)dưới cùng */
.div {
    background-color: rgb(55, 0, 255); /* Màu nền */
    height: 35px; /* Chiều cao */
    width: 125px; /* Chiều rộng */
    transform: translate(-12px,-50px); /* Di chuyển vị trí */
    margin: 26px; /* Khoảng cách ngoài */
    align-content: center; /* Căn giữa nội dung */
    text-align: center;
    display: block;
}

/* Định nghĩa content header */
.content {
    top: 100%;
    transform: translate(0,-450px);
    justify-content: center;
    margin: 300px; /* Khoảng cách ngoài */
    padding: -10%; /* Khoảng cách bên trong */
    font-size: 20px;
    display: inline-block;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/* Đặt màu nền cho footer */
.footer {
    background-color: #666; /* Màu nền */
    
}

.footer-sitemap {
    background-color: #605a5a; /* Màu nền cho sitemap */
    align-content: center; /* Căn giữa nội dung */
    font-family: Arial, Helvetica, sans-serif;
}

.footer-sitemap a {
    color: #ae9898; /* Màu chữ cho các liên kết trong sitemap */
}

.footer li a {
    color: white; /* Màu chữ cho các liên kết trong footer */
    font-family: Arial, Helvetica, sans-serif;    

}

/* Định nghĩa màu chữ cho liên kết */
.p a {
    color: red; 
}

.b1 {
    color: red; 
    font-family: Arial, Helvetica, sans-serif;
}


/* Định nghĩa danh sách không có dấu đầu dòng */
.bocham li {
    list-style-type: none; /* Xóa dấu đầu dòng */
}

/* Định nghĩa màu chữ cho footer */
.trangweb_footer {
    color: red; 
    font-weight: bold; 
    display: inline-block; /* Hiển thị theo kiểu inline-block */
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
}



/* Định nghĩa nội dung hình ảnh (ảnh chính) */
.img-content {
    position: relative; /* Định vị phần tử */
    padding-top: 10px; /* Khoảng cách trên */
    display: inline-flex;
    flex-wrap: wrap;
    
    
}

.img-content img {
    width: 1800px; /* Chiều rộng hình ảnh */
    height: 650px; /* Chiều cao */
    object-fit: none; /* Cách xử lý hình ảnh */
    position: relative; /* Định vị phần tử */
    display: flex;
    flex-wrap: wrap;
    
}

.img-content h2{
    position: relative; /* Định vị phần tử */
    left: -0.1cm;
    transform: translate(25.5%,-275%); /* Di chuyển vị trí */
    color: white; 
    font-size: 61px; /* Kích thước chữ */
    font-weight: bold; /* Đậm chữ */
    background-color: rgba(93, 70, 70, 0.5); /* Màu nền với độ trong suốt */
    padding: 8px; /* Khoảng cách bên trong */
    text-align: center; /* Căn giữa nội dung */
    width: 1181px;
    height: auto;
    display: inline-block;
    z-index: 2;
}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/* img sinh viên*/
.img-sinhvien {
    position: relative;
    margin: 20px;
    padding: 0;
    display:block;
    left: -90px;
    line-height: 1em;
    text-transform: none;
}
.img-sinhvien img{
    width: 400px;
    height: auto;
    top: 0;
    left: 0;
    position: relative;
    padding-bottom: 0;
    display: inline-block;
}
.img-sinhvien a {
    top: 0;
    color: black;
    font-weight: bold;
    align-content: center;
    font-family:  'Arial';
    font-size:22.3px;
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    display: inline;
    
}
.img-sinhvien li {
   
    list-style: none;
    display: inline-block;
    padding: 30px;
}



